<!DOCTYPE html>
<html>
<head>
	<title>Bomb Finder</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<header>
	<h1>Bomb Finder</h1>
</header>
<main>
	<p>There are <span id="bombs"></span> bombs left.</p>
	<div id="time"></div>
	<button id="newgame" value="New Game">New Game</button>
	<div id="wrapper"></div>
</main>
<footer>
<small>Made by <a href="https://github.com/ChuckHa">Chuck</a></small>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="static/app.js"></script>
</body>
</html>